.news__container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px 20px;
}

.news__item {
    width: 350px;

    // background-color: antiquewhite;
}

.news__item-title {
    text-decoration: none;
    cursor: pointer;
    color: $app-theme-color;
    font-size: 22px;

    &:hover {
        color: $font-primary-color;
    }
}

.news__item-date {
    font-size: 14px;
    color: $bg-scrollbar;
    margin-top: 5px;
}

.news__item_img-container {
    width: 350px;
    height: 200px;

    background-color: antiquewhite;
}

.news__item-img {
    margin-top: 10px;
}

.news__item-desc {
    width: 350px;
    max-height: 80px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;

    color: $font-primary-color;
}

.news__item-btn {
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;

    border: 1px solid $app-theme-color;
    color: $app-theme-color;
    font-size: 14px;
    border-radius: 3px;

    padding: 8px 20px;

    &:hover {
        color: white;
        background-color: $app-theme-color;
    }
}
