$app-theme-color: #89579c;
$app-theme-card: #f3f2f1;
$font-primary-color: #323130;
$grey-ccc: #cccccc;
$steelBlue-color: #4682b4;

$hover-btn: #8a2be2;

$bg-primary: #f2f2f2;
$bg-secondery: #54a7e94d;
$bg-scrollbar: #a19f9d;

$hover-card: #fafafa;
$border-card: #edebe9;
$active-panel: rgba(84, 167, 233, 0.1);

$icons-color: #797775;
