@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&;display=swap');

@import './_mixins.scss';
@import './_variables.scss';

@import './components/main/header.scss';
@import './components/main/header-nav.scss';
@import './components/main/footer.scss';

@import './components/ui/slider.scss';
@import './components/ui/showcase.scss';
@import './components/ui/product.card.scss';
@import './components/ui/select.scss';
@import './components/ui/filter.scss';
@import './components/ui/pagination.scss';
@import './components/ui/news.scss';

@import './components/infos.scss';

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1110px;

    margin-left: auto;
    margin-right: auto;
}

.cont {
    width: 1110px;
}

.row {
    display: flex;
    flex-direction: row;
}

.space-beetwen {
    display: flex;
    justify-content: space-between;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.horizon-center {
    display: flex;
    justify-content: center;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}

.ml-3 {
    margin-left: 3rem;
}

.mt-100 {
    margin-top: 100px;
}

.title {
    font-weight: 500;
    color: $font-primary-color;
}

.width-420 {
    width: 420px;
}

.products_view__container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 40px 20px;
}
